.housing{
    display: flex;
    flex-direction: column;
    h1{
        color: #FF6060;
        font-weight: 500;
        font-size: 36px;
        
    }
    .info{
        max-width: 700px;
    }
    .head{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        flex-wrap: wrap;
        .owner{
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: end;
        }
        .host{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
            .name{
                font-size: 20px;
                color: #FF6060;
                font-weight: 500;
            }
        }
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        span{
            background-color: #FF6060;
            color: white;
            padding: 5px 10px;
            border-radius: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
}

@media screen and (max-width: 950px) {
    .housing {
        h1{
            font-size: 18px;
        }
        .location{
            font-size: 14px;
        }
        .head{
            .owner{
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 25px;
            }
            .host{
                img{
                    width: 48px;
                    height: 48px;
                }
                .name{
                    font-size: 14px;
                }
            }
        }
        
    }
    
}